<header class="navbar-container">
  <nav class="navbar">
    <div>
      <a class="navbar-brand" href="/">
        <!-- <img src="/Public/images/logo.jpg" alt="Logo" /> -->
        <i class="fa-solid fa-blog"></i>
      </a>
      <a href="/">Home</a>
    </div>
    <div class="navbar-search">
      <form action="/search" method="post">
        <input type="text" placeholder="Search..." name="search" />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="navbar-buttons">
      <% if (user) { %>
      <a href="/profile">Profile</a>
      <a href="/auth/logout">Logout</a>
      <% } else { %>
      <a href="/auth" class="btn-login">Login</a>
      <% } %>
    </div>
  </nav>
</header>
