<aside class="left-sidebar">
  <div class="user-profile">
    <img src="/Public/images/2.jpg" alt="user-img" class="img-circle" />
    <a href="" role="button">
      <span>Some User</span>
    </a>
  </div>
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li>
        <ul class="nav-group">
          <li class="nav-small-cap">--- Personal</li>
          <li class="active">
            <a class="" href="index.html">
              <i class="fa-solid fa-house-user"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="">
            <a class="" href="/admin/posts/<%=user._id%>"> 
              <i class="fa-solid fa-blog"></i>
              <span>My Posts</span>
            </a>
          </li>
          <li class="">
            <a class="" href="/admin/comments/<%=user._id%>">
              <i class="fa-regular fa-comments"></i>
              <span>My Comments</span>
            </a>
          </li>
          <!-- <li class="">
            <a class="" href="index.html">
              <i class="fa-regular fa-heart"></i>
              <span>My Likes</span>
            </a>
          </li> -->
          <li class="">
            <a class="" href="/admin/savedPosts/<%=user._id%>">
              <i class="fa-regular fa-bookmark"></i>
              <span>Saved</span>
            </a>
          </li>
          <li class="">
            <a class="" href="/admin/profile/<%=user._id%>">
              <i class="fa-regular fa-address-card"></i>
              <span>My Profile</span>
            </a>
          </li>
          <!-- <li class="">
            <a class="" href="index.html">
              <i class="fa-solid fa-gear"></i>
              <span>Settings</span>
            </a>
          </li> -->
        </ul>
      </li>

      <li>
        <ul class="nav-group">
          <li class="nav-small-cap">--- Admin</li>
          <li class="">
            <a class="" href="./users">
              <i class="fa-solid fa-users"></i>
              <span>Users</span>
            </a>
          </li>
          <li class="">
            <a class="" href="./posts">
              <i class="fa-solid fa-signs-post"></i>
              <span>Posts</span>
            </a>
          </li>
          <li class="">
            <a class="" href="./comments">
              <i class="fa-solid fa-comments"></i>
              <span>Comments</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="active">
        <a class="" href="index.html">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
