<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <script src="https://kit.fontawesome.com/3cb67c204f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/Styles/home.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div style="display: flex"><%- include('../partials/sidebar.ejs') %> <%- body %></div>
  
  </body>
</html>
