<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="homepage-main">
      <% if(user){ %>
      <button
        class="create-button"
        onclick="window.location.href='/post/create/<%=user._id%>'"
        style="margin-bottom: 20px">
        Create Post
      </button>
      <%} %>
      <section class="top-posts">
        <h2>Top Posts This Week</h2>
        <div class="post-container">
          <% for(let i = 0; i < topPosts.length; i++) { %>
          <div class="post">
            <h3><%= topPosts[i].title %></h3>
            <p class="top-post-content"><%= topPosts[i].content%></p>
            <a href="/post/<%= topPosts[i]._id %>" class="read-more">Read More</a>
          </div>
          <% } %>
        </div>
      </section>
      <section class="new-posts">
        <h2>New Posts</h2>
        <div class="post-container">
          <% for(let i = 0; i < posts.length; i++) { %>
          <div class="post">
            <h3><%= posts[i].title %></h3>

            <div class="post-img">
              <img src="<%= posts[i].coverImgUrl %>" alt="<%= posts[i].title %>" />
            </div>
            <div class="post-data">
              <!-- <p><%# posts[i].userId.username %></p> -->
              <!-- <p><%# posts[i].createdAt %></p> -->
              <div class="post-cat">
                <p><%= posts[i].category %></p>
              </div>
              <p><%= posts[i].rating%> Likes</p>
            </div>
            <p class="new-post-content"><%= posts[i].content%></p>
            <a href="/post/<%= posts[i]._id %>" class="read-more">Read More</a>
          </div>
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
