@import url("./navbar.css");
@import url("./sidebar.css");

/* :root {
  --background-color: #353535;
  --primary: #3c6e71;
  --secondary: #284b63;
  --primary-text: #ffffff;
  --secondary-text: #d9d9d9;
  --text-muted: #555555;
} */
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  padding: 20px;
  margin: auto;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #1a2e35;
}

.top-posts .post-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 20px;
}

.post {
  width: calc(25% - 20px);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #1cbbb4;
  border-radius: 5px;
  background-color: #ffffff;
}

.post h3 {
  color: #1a2e35;
}

.post p {
  color: #555555;
}

.read-more {
  display: block;
  color: #1cbbb4;
  text-decoration: none;
  margin-top: 10px;
}

.new-posts {
  margin-top: 20px; /* Adjust margin as needed */
}

.new-posts h2 {
  color: #1a2e35;
}

.new-posts .post-container {
  display: flex;
  flex-direction: column;
}

.new-posts .post {
  margin-bottom: 20px; /* Adjust margin between posts */
  border: 1px solid #1cbbb4;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  width: 95%; /* Set the width to 100% */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.new-posts .post h3 {
  color: #1a2e35;
}

.new-posts .post p {
  color: #555555;
}

.new-posts .read-more {
  display: block;
  color: #1cbbb4;
  text-decoration: none;
  margin-top: 10px;
}
